pagina 5



<ul>
        <li><a href="{{path('index') }}">Inicio</a></li>
        <li><a href="{{path('pagina1') }}">Ejercicio 1</a></li>
        <li><a href="{{ path('pagina2')}}">Ejercicio 2</a></li>
        <li><a href="{{ path('pagina3')}}">Ejercicio 3</a></li>
        <li><a href="{{ path('pagina4')}}">Ejercicio 4</a></li>
        
    </ul>